.container {
  transform: rotate(15deg);
  width: 500px;
  margin: 30px auto 30px;
  padding: 20px;
  background: linear-gradient(to bottom, #0082ff 0%, #ffeb00 68%, #fffc00 100%);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff,
    20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 38px 37px 3px -22px rgba(0, 0, 0, 0);
}

.title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;

  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93,
    -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5,
    -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
    -8px 7px #cdd2d5;
  color: #fffd0a;

  padding-top: 20px;
  padding-bottom: 30px;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93,
    -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5,
    -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
    -8px 7px #cdd2d5;
  color: #1d85e6;

  margin-bottom: 20px;
}
